{{extend 'layout.html'}}

<h1>{{=message}}</h1>

<div class="row">
  <div class="span4 columns">
    <h3>Tables</h3>
  </div>
  <div class="span12 columns">
    <table class="zebra-striped">
      <thead><tr><th>ID</th><th>Name</th></tr></thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Alvaro</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Alvaro</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Alvaro</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="span4 columns">
    <h3>Forms</h3>
  </div>
  <div class="span12 columns">
    {{=form}}
  </div>
</div>
