{{extend 'layout.html'}}

<h1>{{=message}}</h1>

<div class="row">
  <div class="span4 columns">
    <h3>Tables</h3>
  </div>
  <div class="span12 columns">
    <table class="zebra-striped">
      <thead><tr><th>ID</th><th>Name</th></tr></thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Alvaro</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Alvaro</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Alvaro</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="span4 columns">
    <h3>Forms</h3>
  </div>
  <div class="span12 columns">
    {{=form}}
  </div>
</div>

<div class="row">
  <div class="span4 columns">
    <h3>Tabs</h3>
  </div>
  <div class="span12 columns">
    <div class="tabs">
      <ul class="tabs">
        <li class="active"><a href="#first">First</a></li>
        <li><a href="#second">Second</a></li>
        <li><a href="#third">Third</a></li>
      </ul>
      <div id="first">First</div>
      <div id="second">Second</div>
      <div id="third">Third</div>
    </div>
  </div>
</div>

<div class="row">
  <div class="span4 columns">
    <h3>Pills</h3>
  </div>
  <div class="span12 columns">
    <div class="pills">
      <ul class="pills">
        <li class="active"><a href="#first">First</a></li>
        <li><a href="#second">Second</a></li>
        <li><a href="#third">Third</a></li>
      </ul>
      <div id="first">First</div>
      <div id="second">Second</div>
      <div id="third">Third</div>
    </div>
  </div>
</div>

<div class="row">
  <div class="span4 columns">
    <h3>Pagination</h3>
  </div>
  <div class="span12 columns">
    <div class="pagination">
      <ul>
        <li class="prev disabled"><a href="#">&larr; Previous</a></li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li class="next"><a href="#">Next &rarr;</a></li>
      </ul>
    </div>
  </div>
</div>


<div class="row">
  <div class="span4 columns">
    <h3>Alerts</h3>
  </div>
  <div class="span12 columns">
    <div class="alert-message warning">
      <a class="close" href="#">×</a>
      <p><strong>Holy guacamole!</strong> Best check yo self, you’re not looking too good.</p>
    </div>

    <div class="alert-message error">
      <a class="close" href="#">×</a>
      <p><strong class="tip" title="Hey this is a test!">Tip test!</strong> Best check yo self, you’re not looking too good.</p>
    </div>

    <div class="alert-message success">
      <a class="close" href="#">×</a>
      <p><strong>Holy guacamole!</strong> Best check yo self, you’re not looking too good.</p>
    </div>

    <div class="alert-message info">
      <a class="close" href="#">×</a>
      <p><strong>Holy guacamole!</strong> Best check yo self, you’re not looking too good.</p>
    </div>

    <div class="alert-message block-message warning">
      <a class="close" href="#">×</a>
      <p><strong>Holy guacamole! This is a warning!</strong> Best check yo self, you’re not looking too good. Nulla vitae elit libero, a pharetra augue. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
      <div class="alert-actions">
        <a class="btn small" href="#">Take this action</a> <a class="btn small" href="#">Or do this</a>
      </div>
    </div>

  </div>
</div>









